@import url("https://fonts.googleapis.com/css?family=Pacifico&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Pacifico", cursive;
  color: rgb(116, 182, 255);
  text-transform: uppercase;
}
input::placeholder {
  font-family: "Pacifico", cursive;
  color: rgb(48, 84, 245);
}

h1 {
  padding: 24px;
  background: url("./images/abstract-bright-color-dark-397998.jpg") center/cover
    fixed no-repeat;
  text-align: center;
  color: rgb(116, 182, 255);
  text-transform: uppercase;
}

h2 {
  padding: 24px 16px;
  font-size: 20px;
  font-weight: normal;
}

.container {
  padding: 48px 16px;
  display: flex;
  background: url("./images/close-up-shot-of-black-computer-keyboard-1010496.jpg")
    center/cover no-repeat fixed;
  box-shadow: inset 0 7px 23px -6px rgba(0, 0, 0, 0.75),
    inset 0 -7px 23px -6px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: inset 0 7px 23px -6px rgba(0, 0, 0, 0.75),
    inset 0 -7px 23px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0 7px 23px -6px rgba(0, 0, 0, 0.75),
    inset 0 -7px 23px -6px rgba(0, 0, 0, 0.75);
}
@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.left-pane {
  flex: 2;
  border-right: 2px solid #475261;
  max-width: 800px;
}

.right-pane {
  flex: 1;
}

.gt-input {
  height: 48px;
  padding: 0 16px;
  border: 0;
  color: rgb(48, 84, 245);
  font-family: "Pacifico", cursive;
}

.rounded-left {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.rounded-right {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.gt-button {
  height: 48px;
  width: 160px;
  border: none;
  background: rgb(116, 182, 255);
  font-family: "Pacifico", cursive;
  font-size: 20px;
  cursor: pointer;
  color: white;
  border: 5px solid white;
}
.gt-button:hover {
  color: rgb(116, 182, 255);
  background: white;
  border-color: rgb(116, 182, 255);
}
option {
  color: rgb(48, 84, 245);
}
form {
  display: flex;
  justify-content: space-between;
  padding: 0 32px;
}

form input:focus,
form select:focus {
  outline: none;
}

form input[type="text"],
form select {
  flex: 1;
}

.gt-input.full-width {
  width: 100%;
}

form input,
form select {
  font-family: "Raleway";
  font-size: 16px;
}

/* Right Pane */

table {
  padding: 0 32px;
  width: 100%;
}

table tr {
  display: flex;
  border-bottom: 1px solid #475261;
}

table tr th,
table tr td {
  text-align: left;
  padding: 8px;
}

table tr th:nth-child(1),
table tr td:nth-child(1) {
  width: 80px;
}

table tr th:nth-child(2),
table tr td:nth-child(2) {
  flex: 1;
  text-align: left;
}

.data-wrapper {
  height: 280px;
  overflow-y: scroll;
  margin-top: 32px;
}

.data-wrapper::-webkit-scrollbar-track {
  width: 1px;
  background: #475261;
}

.data-wrapper::-webkit-scrollbar {
  width: 2px;
}

.data-wrapper::-webkit-scrollbar-thumb {
  width: 2px;
  background: #8597b1;
}
